<section class="inner-page">
    <div class="app-section">
        <ul class="app-list">
            <li id="actionSheet" class="app-button blue">Tap ActionSheet</li>
        </ul>
        <ul class="app-list">
            <li id="alert" class="app-button green">Tap Alert</li>
        </ul>

        <ul class="app-list">
            <li id="confirm" class="app-button blue">Tap Confirm</li>
        </ul>

        <ul class="app-list">
            <li id="loading" class="app-button red">Tap Loading</li>
        </ul>

        <ul class="app-list">
            <li id="uitoast" class="app-button green">Tap Toast</li>
        </ul>
    </div>
</section>